* {
    /* doesn't work */
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: 100%;
}

p {
    font-size: 16px;
    
}

                                    /* Whole card */
#order {
    text-align: center;
    height:500px;
    width: 350px ;
    background-image:none;
}

                                    /* title */
#summary {
    background-image:none;
}
                                    /* Annual Plan Section */
#plan {
    border: black solid 1px;
    background-color: hsl(225, 100%, 98%);    
}


                                    /* payment button */    
#button {
    background-color: hsl(245, 75%, 52%);
    background-image:none;
    
}

a {
    text-decoration: none;
    color: white;
}

a:link {

}

a:visited {

}

a:focus {

}

a:hover {

}

a:active {

}

                                    /* white section of the card*/
.card-body {
    background-color: white;
    background-image:none;
}

                                    /* paragraph section under title */
#text {
    background-image: none;
}

                                    /* cancel order button */
#cancel {
    background-color: white;
    background-image: none;
    outline:;
}