* {
    /* doesnt work */
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
        /* doesnt work */
    background-image: url('pattern-background-desktop.svg');
}

p {
    font-size: 16px;
}

#order {
    text-align: center;
    height:500px;
    width: 350px ;
}