* {
    /* doesnt work */
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
        
   
}

                                        /* background */
body {
 background-image: url(../images/pattern-background-desktop.svg);
 background-repeat: no-repeat;
background-size: 100%;
 
 opacity: 1;
 background-blend-mode:;
}

p {
    font-size: 16px;
}

#order {
    text-align: center;
    height:500px;
    width: 350px ;
}